body{
  text-align: center;
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#nav{
  font-family: Helvetica;
  font-size: 18px;
  color:white;
}
.header,.design{
  background-image: url("images/the-flatiron-building.png");
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
  font-family: Helvetica;
  font-size: 14px;
}
.design{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer{
  font-family: Helvetica;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
